*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    min-height:100vh;
    background-color: #e493d0;
    background-image:
            radial-gradient(closest-side, rgba(243,11,164,1),rgba(243,11,164,0)),
            radial-gradient(closest-side, rgba(254,86,101,1),rgba(254,86,101,0)),
            radial-gradient(closest-side, rgba(254,208,172,1),rgba(254,208,172,0)),
            radial-gradient(closest-side, rgba(170,142,245,1),rgba(170,142,245,0)),
            radial-gradient(closest-side, rgba(204,197,168,1),rgba(204,197,168,0));
    background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
    background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -30vmax,
            50vmax 50vmax;
    background-repeat: no-repeat;
    animation:  3s movement linear infinite;
}
/*body::after{
    content:'';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}*/
@keyframes movement {
    0%,100%{
        background-size:
                100vmax 100vmax,
                90vmax 90vmax,
                100vmax 100vmax,
                90vmax 90vmax,
                60vmax 60vmax;
        background-position:
                -60vmax -90vmax,
                50vmax -40vmax,
                0vmax -20vmax,
                -40vmax -20vmax,
                40vmax 60vmax;
    }
    50%{
        background-size:
                80vmax 80vmax,
                110vmax 110vmax,
                80vmax 80vmax,
                60vmax 60vmax,
                80vmax 80vmax;
        background-position:
                -50vmax -70vmax,
                40vmax -30vmax,
                10vmax 0vmax,
                20vmax 10vmax,
                30vmax 70vmax;
    }
    75%{
        background-size:
                90vmax 90vmax,
                90vmax 90vmax,
                100vmax 100vmax,
                90vmax 90vmax,
                70vmax 70vmax;
        background-position:
                -50vmax -40vmax,
                50vmax -30vmax,
                20vmax 0vmax,
                -10vmax 10vmax,
                40vmax 60vmax;
    }
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(130,168,153);*/
    position: sticky;
    top:0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin:20px 0px;
}
.navbar ul li{
    font-family: century, serif;
    font-size: 1.1rem;
    font-weight:bold;

}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #e493d0;
    color: black;
    box-shadow: 0 0 10px white;
}

#home h1{
    width:980px;
    font-size: 100px;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color:navajowhite;
}

:root{
    --offset:6px;

}
#home h2{
    width:980px;
    font-size: 100px;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color:navajowhite;
}
.mask{
    height:106px;
    position:relative;
    overflow: hidden;
    margin-top:var(--offset);
}
.mask span{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top:100px;
    padding-bottom: var(--offset);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;

}
.mask span[data-show]{
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;

}
.mask span[data-up]{
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}
.mask span:nth-child(1){
    background-image: linear-gradient(45deg,white 50%,#e493d0);
}
.mask span:nth-child(2){
    background-image: linear-gradient(45deg,white 50%,#e493d0);
}
.mask span:nth-child(3){
    background-image: linear-gradient(45deg,white 50%,#e493d0);
}
.mask span:nth-child(4){
    background-image: linear-gradient(45deg,white 50%,#e493d0);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    top:30%;
    right:10%;

}
.headings{
    font-size: 70px;
    text-align: center;
    margin: auto;
    width:980px;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color:navajowhite;

}
#About{
    display: flex;


    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-top:770px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}
#pic img{
    width:575px;
    height:400px;
    margin-top: 20px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 60px;
    color: navajowhite;
}
p{
    --progress:0;
    color: transparent;
    width:80%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: 20px;
    font-family: Helvetica;

    background-image: linear-gradient(white calc(100% - calc(var(--progress)*100%)),rgb(200,100,154) calc(100% - calc(var(--progress)*100%)));
    -webkit-background-clip: text;

    transition: .3s transform ease-out;
}




/*#home{
    display: flex;
    flex-direction: column;
    background-color:rgb(130,168,153);
    height:840px;
    justify-content: center;
    align-items: center;
    color: rgb(204,197,168);

}
#home::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    background: rgb(130,168,153);
    height:900px;
    width:100%;
    z-index: -1;
    opacity: .8;
}


radial-gradient(closest-side, rgba(235,105,78,1),rgba(235,105,78,0)),
            radial-gradient(closest-side, rgba(243,11,164,1),rgba(243,11,164,0)),
            radial-gradient(closest-side, rgba(254,234,131,1),rgba(254,234,131,0)),
            radial-gradient(closest-side, rgba(170,142,245,1),rgba(170,142,245,0)),
            radial-gradient(closest-side, rgba(248,192,147,1),rgba(248,192,147,0));
 */